extends layout

block title
  | My super sweet dashboard

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
        div(data-id='welcome', data-view='Text', data-title='Hello', data-text='This is your shiny new dashboard.', data-moreinfo='Protip: You can drag the widgets around!')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='synergy', data-view='Meter', data-title='Synergy', data-min='0', data-max='100')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='2')
        div(data-id='buzzwords', data-view='List', data-unordered='true', data-title='Buzzwords', data-moreinfo='# of times said around the office')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='2')
        div(data-id='table_test', data-view='Table', data-unordered='true', data-title='Table Test', data-moreinfo='# of times said around the office')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='valuation', data-view='Number', data-title='Current Valuation', data-moreinfo='In billions', data-prefix='$')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='users', data-view='Number', data-title='number users', data-moreinfo='In millionbillions', data-prefix='#')
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
        div(data-id='convergence', data-view='Graph', data-title='Convergence', style='background-color:#ff9618')

    center
      div(style='font-size: 12px') Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' -H "Content-Type: application/json" http://#{request.header('host')}/widgets/welcome
