<h1 class="title" data-bind="title"></h1>

<div data-bind="template: { name: 'template', data: $data }"></div>

<ul>
	<li data-bind="foreach: data"></li>
	<!--<li data-foreach-item="items">
		
    	<div data-bind="item.Format"></div>
    
    <div data-bind="foreach: Object.keys(item)">
    		<span data-bind="text: $data"></span>

    </div>
  </li> --> 

  <!--<table>
    <tbody data-bind="foreach: items">
        <tr data-bind="foreach: Object.keys($data)">
            <td data-bind="text: $parent[$data]"></td>
        </tr>
    </tbody>
</table>--> 

</ul>

<p class="more-info" data-bind="moreinfo"></p>
<p class="updated-at" data-bind="updatedAtMessage"></p>
